@charset "UTF-8";

img{
	max-width: 100%;
	height: auto;
}

h1{
	text-align: center;
	margin-top: 20vw;
	font-size: 5vw;
	color: #6a6a6a;
}

.youtube1{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.youtube2{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	margin-bottom: 10vw;
}
.members{
	background-color:#c5cedb;
}

.member{
	width: 100vw;
	margin: 2vw;
	display: grid;
	gap: 0vw;
	grid-template-columns: 47vw 47vw;
}


.memories{
	background-color:#c4c3c3;
}

.content{
	width: 100vw;
	margin: 2vw;
	display: grid;
	gap: 0vw;
}

.text{
	grid-column: 1/2;
}

.image{
	grid-column: 2/4;
}


header video{
	max-width: 100%;
	height: auto;
}

.parent{
	width: 94vw;
	margin: 0 auto 3rem;
	display: grid;
	gap: 1vw;
	grid-template-columns: 46vw 46vw;
}
